
.card-img{
    height: 300px;
}
.text-box{
    height: 490px;
    width: 487px;
    background: rgba(235, 87, 87, 0.05);
    border: 1px solid #EB5757;
}
.img-box{
    height: 490px;
    width: 487px;
    border: 1px solid #E7E7E7;
    border-radius: 16px;
}

.price-box p{
    background-color: #ffffff;
    padding: 16px 18px;
    gap: 10px;
}
.green{
    color: #03A30A;
    font-weight: bold;
}
.yellow{
    color: #F28927;
    font-weight: bold;
}
.red{
    color: #EB5757;
    font-weight: bold;
}
.accuracy{
    background: #EB5757;
    color: #ffffff;
    border-radius: 8px;
    padding: 3px 7px;
    top: 55px;
    right: 55px;
}
